# Kaggle
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key

# AWS
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET_NAME=mlops-paas-artifacts
S3_TRAINING_DATA_PREFIX=training-data/

# GitHub
GITHUB_TOKEN=your_github_token
GITHUB_REPO=your_github_org_or_user/your_repo_name

# MLflow
MLFLOW_TRACKING_URI=your_mlflow_server_uri
MLFLOW_MODEL_NAME=NIDS-XGBoost

# Database
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_HOST_RW=localhost
DB_HOST_RO=localhost
DB_PORT=5432
DB_NAME=mlops_nids_db

# Monitoring
DRIFT_THRESHOLD=0.6
EVIDENTLY_TRIGGER_THRESHOLD=100

# Messaging
REDPANDA_BROKERS=localhost:19092

# Django Control Plane
DJANGO_SECRET_KEY=change-me-for-local-dev
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,control_plane
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Email / OTP
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_gmail_app_password

# OAuth
GOOGLE_OAUTH2_CLIENT_ID=your_google_oauth_client_id
GITHUB_OAUTH2_CLIENT_ID=your_github_oauth_client_id
GITHUB_OAUTH2_CLIENT_SECRET=your_github_oauth_client_secret
GITHUB_OAUTH_REDIRECT_URI=http://localhost:5173/oauth/github/callback

# Frontend
VITE_API_BASE_URL=http://localhost:8000/api/auth
VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id
VITE_GITHUB_CLIENT_ID=your_github_oauth_client_id
VITE_GITHUB_REDIRECT_URI=http://localhost:5173/oauth/github/callback

# Python
PYTHONUTF8=1
