# Kaggle Credentials cho luồng Deep Retrain
KAGGLE_USERNAME=your_kaggle_username_here
KAGGLE_API_TOKEN=your_kaggle_key_here

# AWS Credentials cho Init Container kéo model từ S3 
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_DEFAULT_REGION=your_aws_default_region_here

# GitHub Token cho Evidently Webhook
GITHUB_TOKEN=your_github_token_here

# Kaggle Credentials cho luồng Deep Retrain
KAGGLE_USERNAME=your_kaggle_username_here
KAGGLE_KEY=your_kaggle_key_here

# Cấu hình Database
DB_USER=your_db_user_here
DB_PASSWORD=your_db_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mlops_nids_db